/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* Utility */
.container {
    max-width: 1000px;
    margin: 0 auto;;
}

.bg {
    background-color: #0186fd;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}


/* Body */

/* Header */
.header-top {
    height: 100px;
    background-color: #e579e6;
    margin: 20px 0;
}

.header-bottom {
    height: 350px;
    margin: 20px 0;
    background-color: #e1d67a;
}

/* Main */
main {
    padding-bottom: 1px;
}
section {
    background-color: #abcfe7;
}

.float-container {
    margin: 20px 0;
}

.title-main {
    height: 60px;
}

.sidebar-section {
    width: 20%;
    height: 450px;
}

.main-section {
    width: calc(60% - 40px);
    height: 450px;
    margin: 0 20px;
}

/* Footer */
footer {
    height: 60px;
    margin: 9px 0 20px 0;
    background-color: #8900ff;
}
