/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

/* Utility */
.container {
    max-width: 1000px;
    margin: 0 auto;;
}

.bg {
    background-color: #0186fd;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* Body */

/* Header */
.header-top {
    height: 80px;
    background-color: #e579e6;
    margin: 20px 0;
}

.header-bottom {
    height: 350px;
    margin: 20px 0;
    background-color: #e1d67a;
}

/* Main */
section {
    background-color: #abcfe7;
}

.float-container {
    margin: 20px 0;
}


.title-main {
    height: 60px;
}

.sidebar-section {
    width: 200px;
    height: 370px;
}

.main-section {
    width: 560px;
    height: 370px;
    margin: 0 20px;
}

/* Footer */
footer {
    height: 40px;
    margin: 20px 0;
    background-color: #8900ff;
}